* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Poppins', sans-serif;
    font-size: 62.5%;
}

body {

}

.root {
    max-width: 100vw;
}

.flex-col {
    flex-direction: column;
}

.grid {
    width: 1200px;
    margin: 0 auto;
}

#navbar-float {
    display: none;
    opacity: 0;
 

}

.navbar.navbar-float {
    display: flex !important;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 1;
    opacity: 1 !important;
    /* animation: flyIn 0.3s; */
}

@keyframes flyIn {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0%);
    }
}

@keyframes flyOut {
    from {
        transform: translateY(0%);
    } 
    to {
        transform: translateY(-100%);
    }
}

.navbar {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 300;
    transition: 0.3s;
}
.navbar__logo-wrapper {
    width: 145px;
    max-height: 80px;
    object-fit: contain;
    
}
.navbar__logo {
    width: 100%;
    height: 100%;

}
.navbar__call-me-wrapper {
    
}
.navbar__call-me {
    position: relative;
}

.navbar__call-me::after {
    content: '';
    position: absolute;
    border: 0.5px solid black;
    width: 100%;
    bottom: -4px;
    right: 0;
    left: 0;
}
.navbar__phone-number-wrapper {}
.navbar__phone-number {
    position: relative;
}

.navbar__phone-number::after {
    content: '';
    position: absolute;
    border: 0.5px solid black;
    width: 100%;
    bottom: -4px;
    right: 0;
    left: 0;
}

.navbar__navbar-list {
    list-style: none;
    display: flex;
    direction: rtl;

}
.navbar__list-item {

}
.navbar__list-link {
    width: fit-content;
    text-align: right;
    text-decoration: none;
    display: block;
    margin-left: 32px;
    color: black;
    position: relative;
}

.navbar__list-link:hover::after {
    content: '';
    position: absolute;
    border: 0.5px solid black;
    width: 100%;
    bottom: -5px;
    right: 0;
    left: 0;
}

.navbar__list-link.navbar__list-link--active {
    color: #da291c;
}

.header {
    height: 100vh;
}

.header-nav {

}

.header-nav-list {
    transform: translateY(calc(50% - 1.4rem));
}

.header-nav-item {
    margin-top: 16px;
    text-align: right;
}


.header-nav-item:first-child {
    margin-top: 0;
}

.header-content {
    margin-top: 120px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 16px;

}

.header-title {
    font-size: 10rem;
    line-height: 100%;
    font-weight: 400;
    margin: -4px;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;

}

.subheader {
    margin-top: 48px;
    display: grid;
    gap: 16px;
    position: relative;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    align-items:stretch;
}

.subheader-content {
    font-size: 1.6rem;
    width: 300px;
    word-wrap: normal;
    font-weight: 200;
    color: #666;
    max-height: 10rem;
    
}

.subheader-icon-wrapper {
    background-color: #da291c;
    height: 48px;
    width: 48px;
    display: grid;
    place-items: center;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    transform: translateY(100%);
    position: absolute;
    bottom: 54px;

}

.subheader-icon-wrapper i {
    color: white;
    font-size: 1.8rem;
}

.subheader-title {
    grid-column-start: 2;
    width: 100%;
    text-align: right;
}

.business-insights__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 1.4rem;
    position: relative;
}

.business-insights__title {
    font-size: 10rem;
    font-weight: 300;
    margin: -5px;

}

.business-insights__link {
    width: fit-content;
    color: black;
    position: absolute;
    bottom: 36px;
    right: 0;
}

.business-insights__desc {
    font-size: 1.6rem;
    opacity: 0.7;
}

.business-insights-grid {
    margin-top: 64px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 32px;

}

.business-insights-grid__card {
    position: relative;
}

.business-insights-grid__img-wrapper {
    background-color: #ccc;
    height: 200px;
    position: relative;
    
}

.business-insights-grid__title {
    margin-top: 8px;
    font-weight: 300;
}

.business-insights-grid__tag {
    margin-top: 8px;
    padding: 4px 8px;
    color: #da291c;
    width: fit-content;
    border: 1px solid #da291c;
    border-radius: 48px;
}

.business-insights-grid__more-details-wrapper {
    position: absolute;
    display: grid;
    place-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: calc(100% - 200px);
    background-color: #da291c;
    display: none;
}

.business-insights-grid-more-details {
    font-size: 1.2rem;
    font-weight: 300;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}


.business-insights-grid__img-wrapper:hover + .business-insights-grid__more-details-wrapper {
    display: block;

}

.business-insights-grid__card:nth-child(2) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.business-insights-grid__card:nth-child(3) {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

.business-insights-grid__card:nth-child(4) {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}


